info.txt
todo.todo

static/

*.swp

# Coverage Testing
htmlcov/
.coveragerc
.coverage

# Universal CTags specific
*.taghl
tags

# Python specific ignores, taken from https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*$py.class
venv/

# Django specific ignores, taken from https://djangowaves.com/tips-tricks/gitignore-for-a-django-project/
*.log
*.pot
db.sqlite3
*.pyc

*.DS_Store

credentials/
server/cash/
server/build
server/get-pip.py
server/requirements.txt
server/requirements.txt
