nav img {
  height: 80px;
}

.topnav {
  background: rgba(0, 0, 0, 0.4); ;
  overflow: hidden;
  position: relative;
  z-index: 1000;
  box-shadow:0 2px 2px rgba(0,0,0,.5);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px 96px;
}

h1 {
    font-size: 1.5em;
}

.top-sign-in {
  height: 40px;
  margin-top: 26px;
  position: relative;
  z-index: 1000;
}

.top-sign-in a {
  border-radius: 500px;
  padding: 12px 24px;
  font-size: 1.2em;
  background-color: #1DB954;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  transition: all .5s ease;
}

.top-sign-in a:hover{
  background-color: #18a148;
}

.Home {
  background-color: #843df5;
  background-image: linear-gradient(225deg, #843df5 0%, #129ae2 74%);
  font-family: "Oxygen","sans-serif";
  height: 100vh;
  overflow: hidden;
}

.backing {
  max-width: 1680px;
  position: relative;
  margin: 0 auto;
  height: 100%;
}


a {
  text-decoration: none;
}

.center-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 2;
}

.description-wrapper {
  margin-top: 12px;
  font-size: 1.8em;
  font-weight: 400;
}

.title-wrapper {
  font-size: 3.0em;
}

.head-b-wrapper {
  margin: 72px 0px 48px 0px;
}

.head-b-generate-quiz {
  font-size: 1.5em;
  padding: 24px;
  background-color: #1DB954;
  border-radius: 500px;
  font-weight: 700;
  color: #f6f6f6;
  margin-top: 0;
  transition: all .5s ease;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.head-b-generate-quiz:hover{
  color: white;
  margin-top: 1px;
  background-color: #18a148;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: flex-start; 
  align-items: stretch;
  overflow: hidden;
}

.right img {
  width:100%;
  position: relative;
  top: -10%;
  animation: MoveUpDown 8s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: -10%;
    transform: rotate(0deg);

  }
  50% {
    top: -9%;
    transform: rotate(1deg);
  }
}

.flex-child {
  flex: 1 0 auto;
  max-width: 45%;
}

.right {
  padding: 24px;
}

.left {
  text-align: left;
  color: white;
  font-weight: 700;
  position: relative;
  margin-top: 18%;
}

@media (max-width: 1100px){
  .flex-container {
    flex-direction: column-reverse;
  }

  .flex-child {
    max-width: 100%;
  }

  .right img {
    max-height: 200px;
    width: auto;
  }

  .head-b-generate-quiz {
    width: 100%;
  }

  .flex-child {
    text-align: center;
  }
}

@media (max-width: 500px){
  .right {
    display: none;
  }

  nav ul {
    padding: 0px 24px;
  }
}


@media (max-width: 335px){
  .head-b-generate-quiz {
    font-size: 1.0em;
  }
}