$rockGreen: #8860d0;
$bgSlate: #4268c4;
$offWhite: #F2F2F2;
$signInButton: #eb3e58;
$gray: #f2f2f2;

* {
  margin: 0px;
}

nav {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 12px 36px;
}

.Home {
  height:100vh;
  width: 100vw;
  background-image: linear-gradient(
    110deg,
    $bgSlate,
    $bgSlate 42.8%,
    $rockGreen 43%,
    $rockGreen
  ); /* W3C */
}

.logo {
  width: 40px;
}

.navSignIn {
    line-height: 50px;
    height: 40px;
}


.navSignIn a {
  font-size:calc(16px + .3vw);
  color: $offWhite;
  text-decoration: none;
}

.header {
  margin-left: 36px;
  position: absolute;
  max-width: 35VW;
  top: 32%;
  color: $gray;
}

.title {
  display:inline-block;
  font-size: 15vw;
  margin: 0px;
  line-height: 0px;
}

.highlight {
  color: $gray;
}

.description {
  font-size:calc(12px + 1vw);
  color: $gray;
  margin: 36px 0 0 12px;
  display: inline-block;
}

.rightsReserved {
  font-size: 8px;
  vertical-align: 100%;
  padding-left: 2px;
}

.sectionBottom {
  position: absolute;
  bottom:30px;
  width: 100%;
}

.center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; 
}

.heroButton {
  display: inline-block;
  margin: 36px 0 0 12px;
  background: $signInButton;
  font-size:calc(16px + .3vw);
  color: $offWhite;
  text-align: center;
  padding: 18px 36px;
  border-radius: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
  animation: home-pulse 2s infinite;
}

.dashboardLink {
	 color: #e3e3e3;
	 margin-left: 24px;
}

@keyframes home-pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(235, 62, 88, .7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(235, 62, 88, 0);
  }

  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(235, 62, 88, 0);
  }
}
