 .layout-wrapper {
	max-height: 100vh;
}

 .column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 49%;
}

.headerText {
  margin-left: 22px;
	padding-top: 12px;
  color: #cfcfcf;
}





@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}