.Share {
	position: relative;
	z-index: 10;
}

:root {
  $width: 100vw;
  $full-width: 100vw;
  
  @media (min-width: 42em) {
    $width: 42rem;
  }
  
    /*-----------------
  Magic Number Alert:
  
  the 0.09719 is calculated by this formula:
  tan(11°) / 2
  11° is the current skewY value.
  ------------------*/
  --magic-number: 0.09719;
  --skew-padding: calc(var($width) * var($magic-number));
  --clip-padding: calc(var($full-width) * var($magic-number));
}

.diagonal-box {
  position: relative;
  padding: var(--skew-padding) 0;
  margin-top: -1px;
  
  &:before {
    content: "";
    position: absolute;
    background-color: #5a0bd8;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4), 0px -6px 5px rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy(-3deg);
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden;
  }
}

#my-quiz-header {
	font-size:200%;
	font-weight: 700;
	position: relative;
	color: #fffdf7;
	margin-left: 15px;
}

.Share h3 {
	color: #3e3e3e;
}

.share-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: space-around;
	justify-content: space-around;
}

.share-wrapper > li {
	text-align: center;
	flex: 1 1 290px;
	margin: 15px;
	padding: 24px;
	border-radius: 12px;
	box-shadow:0 8px 10px rgba(0,0,0,0.3);
	background-color: #fcfaff;
	align-self: stretch;
	position: relative;
	transition: all .4s ease;
}

.share-wrapper > li:hover {
	box-shadow:0 10px 14px 0 #454545;
	transform: scale(102%);

}

.share-title, .social-link-title, .social-take-title {
	font-size: 300%;
	font-weight: 700;
	color: black;
	margin-bottom: 16px;
}

.take-it p {
	font-size: 120%;
	line-height: 120%;
	margin: 16px 0px;
	font-family: sans-serif;
	color: #3b3b3b;
}

.share-button-wrapper {
	margin: 48px 0px;
	text-align: center;
}

.share-button {
	text-decoration: none;
	font-size: 1.6em;
	padding: 24px 48px;
	background-color: #1DB954;
	border-radius: 500px;
	font-weight: 700;
	color: #f6f6f6;
	margin-top: 0;
	transition: all .5s ease;
	box-shadow:0 2px 2px rgba(0,0,0,0.2);
	          -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.share-button:hover{
	color: white;
	margin-top: 1px;
	background-color: #18a148;
}

.share-url {
	font-family: sans-serif;
	border-radius: 6px;
	padding: 8px;
	background-color: white;
	border: solid 2px gray;
	height: 40px;
	font-size: 120%;
	overflow: scroll;
	display: block;
	text-align: left;
	vertical-align: middle;
	line-height: 20px;

}

.share-url-wrapper {
	text-align: center;
}

#copy-link {
	padding-bottom: 10px;
}

svg {
	width:24px;
	height:24px;
	padding-top: 20px;
	transform: scale(1.50,1.50); 
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(102%);
}

.twitter-wrapper {
	background-color: #00acee;
}

.facebook-wrapper {
	background-color: #3b5998;
}

.instagram-wrapper {
	background-color: #3f729b;
}

.email-wrapper {
	background-color: #d44638;

}

.text-wrapper {
	background-color: #5BC236;
}

.quiz-url-description {
	font-size: 120%;
	line-height: 120%;
	margin: 16px 0px 0px 0px;
	font-family: sans-serif;
	color: darkgray;
}


.social-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
	text-align: center;
}

.social-wrapper li {
	height: 72px;
	width: 72px;
	border-radius: 50%;
	margin: 8px;
	flex: 0 1 auto;
	align-self: auto;
	transition: all .5s ease;
}

.social-wrapper li:hover {
	filter: brightness(85%);
	cursor: pointer;
}


